*{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    font-family: "Raleway", Geneva, Tahoma, sans-serif;
    outline: 1px solid red;
    
}

.main{
    display: flex;
}
.sideBar{
    position: relative;
    width: 37vw;
    height: 100vh;
    background: url("https://images.pexels.com/photos/1179229/pexels-photo-1179229.jpeg?cs=srgb&dl=pexels-matthew-montrone-1179229.jpg&fm=jpg");
    background-position: center;
    background-size: auto;
    min-width: 322px;
}

.sideBar > span{
    position: absolute;
    color: white;
    bottom: 5px;
    left:10px;
}

.sideBar > span > a {
    color: white;
}

.transparentContainer{
    margin:0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:190px;
    width: 30vw;
    height: 10rem;
    background-color: rgba(22, 21, 21, 0.8); /* rgb, white, with alpha at 0.5 */
    min-width: 320px;
}

.transparentContainer > .logo{
    color: rgb(0, 0, 0);
    background: url("./imgs/logo.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width: 161px;
    height: inherit;
    flex-shrink: 0;
}

.transparentContainer > .logoTitle{
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-style: oblique;
    font-size: 40px;
    box-shadow: 2px 2px white;
    text-align: center;
    height: 55px;
    width: 150px;
    background: linear-gradient(to right, #0c9e18 0%,#7a7c03 50%, #7c4803 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
}

.mainCont{
    width: 100%;
    padding-left: 5%;
    margin-top: 15%;
}

.header{
    font-size: 30px;
    font-weight:500;
}

.formCont{
    display: flex;
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.auxCont{
    display: flex;
    flex-wrap: column wrap;
    width:60%;
}
input{
    border-radius: 5px;
    height: 20px;
    width: 30%;
}

input:hover,
input:active{
    border: 0;
    border: 2px solid green;
    box-shadow: 2px 2px gray;
    outline: none !important;
}

@media only screen and (max-width: 600px){
    .sideBar {
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }

    .transparentContainer{
        top:1vh;
        width: 100vw;
        height: 10vh;
        background-color: rgba(22, 21, 21, 0.8); /* rgb, white, with alpha at 0.5 */
    
    }
    
}