*{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    font-family: "Raleway", Geneva, Tahoma, sans-serif;    
}

.main{
    display: flex;
    flex-direction: row;
    background-color: #222422;
    height: 100%;
    color: white;
    overflow: hidden;
}
.sideBar{
    position: relative;
    width: 37vw;
    height: 100vh;
    background: url("https://images.pexels.com/photos/1179229/pexels-photo-1179229.jpeg?cs=srgb&dl=pexels-matthew-montrone-1179229.jpg&fm=jpg");
    background-position: center;
    background-size: auto;
    min-width: 322px;
}

.sideBar > span{
    position: absolute;
    color: white;
    bottom: 5px;
    left:10px;
}

.sideBar > span > a {
    color: white;
}

.transparentContainer{
    margin:0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top:190px;
    height: 10rem;
    background-color: rgba(22, 21, 21, 0.8); /* rgb, white, with alpha at 0.5 */
    min-width: 320px;
}

.transparentContainer > .logo{
    color: rgb(0, 0, 0);
    background: url("./imgs/logo.png");
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    width: 161px;
    height: inherit;
    flex-shrink: 0;
}

.transparentContainer > .logoTitle{
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    font-style: oblique;
    font-size: 40px;
    box-shadow: 2px 2px white;
    text-align: center;
    height: 55px;
    width: 150px;
    background: linear-gradient(to right, #0c9e18 0%,#7a7c03 50%, #7c4803 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
}

.header{
    width: 90%;
    padding-left: 5%;
    margin-top: 15%;
    font-size: 20px;
    font-weight:500;
}

.formCont{
    margin-top: 20px;
    background-color: grey;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px white;
}

form{
    color:rgb(241, 237, 237);
    height: 250px;
    padding-top: 2.5%;
    text-shadow: 2px 2px black;
}

legend{
    margin-left: 2%;
    font-weight: 700;
}

.auxCont{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin-top: 20px;
    float: left;
    margin-left: 4%;
    min-width: (fit-content - 5%);
}

.pwdCheck{
    font-size: 1px;
}

.rightSide{
    margin-left: 50px;
}

label{
    font-size: 13px;
}

input{
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px;
    padding-left: 20px;
    height: 20px;
    width: 100%;
}

input:hover,
input:focus{
    border: 0;
    border: 2px solid burlywood;
    box-shadow: 4px 4px black;
    outline: none !important;
    cursor: pointer;
}

.submitCont{
    display: flex;
    width: 20vw;
    flex-direction: column;
    gap: 30px;
    margin-left: 4%;
    margin-top: 8%;
}

button{
  appearance: button;
  background-color: #6aff00;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
}

button:after {
  background-clip: padding-box;
  background-color: #42ac18;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.5);
  transform: scale(1.1);
  color: #222422;

}

button-:disabled {
  cursor:not-allowed;
}

a {
    color: greenyellow;
    text-decoration: inherit;
    cursor: pointer;
  }



/* LAYOUT FOR MOBILES OR SMALL BROWSERS */
@media only screen and (max-width: 640px){
   
    .content{
        position: absolute;
        top: 15vh;
    }

    .main{
        position: absolute;
        overflow: hidden;

    }

    .sideBar {
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }

    .transparentContainer{
        top:1vh;
        width: 100vw;
        height: 10vh;
        background-color: rgba(22, 21, 21, 0.8); /* rgb, white, with alpha at 0.5 */
    
    }

    .header{
        font-size: 20px;
        font-weight:500;
    }
}